@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-Italic.eot");
    src:
        url("../fonts/Gelasio-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-Italic.woff2") format("woff2"),
        url("../fonts/Gelasio-Italic.woff") format("woff"),
        url("../fonts/Gelasio-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-Bold.eot");
    src:
        url("../fonts/Gelasio-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-Bold.woff2") format("woff2"),
        url("../fonts/Gelasio-Bold.woff") format("woff"),
        url("../fonts/Gelasio-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-BoldItalic.eot");
    src:
        url("../fonts/Gelasio-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-BoldItalic.woff2") format("woff2"),
        url("../fonts/Gelasio-BoldItalic.woff") format("woff"),
        url("../fonts/Gelasio-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

// @font-face {
//     font-family: "Gelasio";
//     src: url("../fonts/Gelasio-Medium.eot");
//     src:
//         url("../fonts/Gelasio-Medium.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/Gelasio-Medium.woff2") format("woff2"),
//         url("../fonts/Gelasio-Medium.woff") format("woff"),
//         url("../fonts/Gelasio-Medium.ttf") format("truetype");
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-SemiBoldItalic.eot");
    src:
        url("../fonts/Gelasio-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Gelasio-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Gelasio-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-Regular.eot");
    src:
        url("../fonts/Gelasio-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-Regular.woff2") format("woff2"),
        url("../fonts/Gelasio-Regular.woff") format("woff"),
        url("../fonts/Gelasio-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-MediumItalic.eot");
    src:
        url("../fonts/Gelasio-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-MediumItalic.woff2") format("woff2"),
        url("../fonts/Gelasio-MediumItalic.woff") format("woff"),
        url("../fonts/Gelasio-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-SemiBold.eot");
    src:
        url("../fonts/Gelasio-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-SemiBold.woff2") format("woff2"),
        url("../fonts/Gelasio-SemiBold.woff") format("woff"),
        url("../fonts/Gelasio-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Conqueror Didot";
    src: url("../fonts/SVN-ConquerorDidot.eot");
    src:
        url("../fonts/SVN-ConquerorDidot.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-ConquerorDidot.woff2") format("woff2"),
        url("../fonts/SVN-ConquerorDidot.woff") format("woff"),
        url("../fonts/SVN-ConquerorDidot.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iCiel Bon Vivant Serif";
    src: url("../fonts/iCielBonVivant-SerifBold.eot");
    src:
        url("../fonts/iCielBonVivant-SerifBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/iCielBonVivant-SerifBold.woff2") format("woff2"),
        url("../fonts/iCielBonVivant-SerifBold.woff") format("woff"),
        url("../fonts/iCielBonVivant-SerifBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Alienor Display";
    src: url("../fonts/SVN-AlienorDisplay-Light.eot");
    src:
        url("../fonts/SVN-AlienorDisplay-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-AlienorDisplay-Light.woff2") format("woff2"),
        url("../fonts/SVN-AlienorDisplay-Light.woff") format("woff"),
        url("../fonts/SVN-AlienorDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Alienor Display";
    src: url("../fonts/SVN-AlienorDisplay-Regular.eot");
    src:
        url("../fonts/SVN-AlienorDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-AlienorDisplay-Regular.woff2") format("woff2"),
        url("../fonts/SVN-AlienorDisplay-Regular.woff") format("woff"),
        url("../fonts/SVN-AlienorDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-Italic.eot");
    src:
        url("../fonts/Gelasio-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-Italic.woff2") format("woff2"),
        url("../fonts/Gelasio-Italic.woff") format("woff"),
        url("../fonts/Gelasio-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gelasio";
    src: url("../fonts/Gelasio-Regular.eot");
    src:
        url("../fonts/Gelasio-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gelasio-Regular.woff2") format("woff2"),
        url("../fonts/Gelasio-Regular.woff") format("woff"),
        url("../fonts/Gelasio-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("../fonts/SVN-Gilroy.eot");
    src:
        url("../fonts/SVN-Gilroy.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-Gilroy.woff2") format("woff2"),
        url("../fonts/SVN-Gilroy.woff") format("woff"),
        url("../fonts/SVN-Gilroy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Gilroy";
    src: url("../fonts/SVN-GilroyItalic.eot");
    src:
        url("../fonts/SVN-GilroyItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SVN-GilroyItalic.woff2") format("woff2"),
        url("../fonts/SVN-GilroyItalic.woff") format("woff"),
        url("../fonts/SVN-GilroyItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Times New Roman";
    src: url("../fonts/TimesNewRomanPSMT.eot");
    src:
        url("../fonts/TimesNewRomanPSMT.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TimesNewRomanPSMT.woff2") format("woff2"),
        url("../fonts/TimesNewRomanPSMT.woff") format("woff"),
        url("../fonts/TimesNewRomanPSMT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
