@import "fonts";

.my_container {
    background-color: #d6f7f8;
    overflow: hidden;
}
.img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.text_title {
    width: 850px;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
    font-family: "Philosopher";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text_content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "SVN-Conqueror Didot";
    font-weight: 300;
    font-style: normal;
}

.group_image {
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    & img:first-child {
        position: initial;
    }
}

.author {
    font-size: 18px;
    font-family: "SVN-Conqueror Didot";
    font-weight: 300;
    font-style: normal;

    text-align: center;
    // width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    p {
        text-align: center;
        span {
            font-weight: bold;
        }
        margin-bottom: 0;
    }
    margin-top: 0px;
    margin-bottom: 40px;
}

.my-stack {
    box-sizing: border-box !important;
    span {
        // display: none;
    }
}

.as-panel {
    box-shadow: none !important;
    // width: 1571px !important;
}
.tab-container {
}

.tab-home {
}
.tab-1 {
}
.tab-2 {
}

// .as-background {
//     width: 100%;
//     height: auto;
// }

.p-7 {
    background-color: aqua;
}

// my-stack

.stack-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 46px);
}
.stack-item {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1977px;
    background-position: right top;
    transition: all 1.2s;
    width: calc(100% - 300px);
}

.active-button {
    position: absolute;
    top: 7%;
    right: 14px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: red;
    }
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.st-1 {
    background-image: url(../images/home/bg.png);
    left: 0;
    height: 100%;
}
.st-2 {
    background-image: url(../images/tab-1/bg.png);
    left: 50px;
    height: 100%;
}
.st-3 {
    background-image: url(../images/tab-2/bg.png);

    left: 100px;
    height: 100%;
}
.st-4 {
    background-image: url(../images/tab-3/bg.png);

    left: 150px;
    height: 100%;
}
.st-5 {
    background-image: url(../images/tab-4/bg.png);

    left: 200px;
    height: 100%;
}
.st-6 {
    background-image: url(../images/tab-5/bg.png);

    left: 250px;
    height: 100%;
}
.st-7 {
    background-image: url(../images/tab-6/bg.png);

    left: 300px;
    height: 100%;
}

.toLeft {
    transform: translateX(calc(-93%));
}

///
///
///
.stack-title {
    font-size: 60px;
    font-family: "SVN-Conqueror Didot";
    color: #12484d;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    text-align: center;
    line-height: 1.1 !important;
}
.sub-title {
    font-size: 22px;
    font-family: "Gelasio";
    color: #12484d;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    text-align: center;
}
.slide-des {
    font-size: 20px;
    font-family: "Gelasio";
    color: #12484d;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    text-align: center;
}
.stack-content {
    width: 100%;
    height: 100%;
    // padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-full {
    width: auto;
    height: 65vh;
}
.img-decor {
    position: absolute;
}
.pointer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    p {
        margin-bottom: 0;
        font-family: "Gelasio";
        color: #12484d;
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        text-align: center;
        font-size: 13px;
    }
}
.img-pointer {
    width: fit-content;
    height: fit-content;
}
.img-pointer-2 {
    margin-left: -30px;
    animation: pointer 1.3s linear infinite alternate;
}

@keyframes pointer {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(12px);
    }
}

.st-1 {
    .decor-1 {
        bottom: 4%;
        right: 6%;
    }
    .decor-2 {
        top: 5%;
        left: 2%;
    }
    .img-1 {
        height: 45vh;
        margin-bottom: 50px;
    }
    .stack-title {
        margin-bottom: 60px !important;
    }
    p.sub-title {
        margin-bottom: 40px;
    }
}
.st-3 {
    .slide-stack {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
.st-6 {
    .stack-content {
        justify-content: start;
        padding-top: 6%;
        .stack-title {
            margin-bottom: 15px;
        }
        .sub-title {
            margin-bottom: 40px;
        }
    }
}
.st-7 {
    .stack-content {
        justify-content: end;
        padding-top: 40px;
    }
    .video-container {
        width: 80%;
        height: 400px;
        background-color: red;
    }
    .group_text_2 {
        margin-top: 10px;
        p {
            text-align: center !important;
        }
        a {
            font-family: "SVN-Conqueror Didot";
            font-weight: 300;
            font-style: normal;
            font-style: italic;
            text-decoration: underline;
        }
    }
}

.swiper {
    width: 900px;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: auto;
    height: 50vh;
    object-fit: cover;
}
.slide-stack {
    width: 60%;
    padding: 0 50px;
    margin: 0 auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}
.swiper-button-next,
.swiper-button-prev {
    width: 70px;
}

.st-3,
.st-4,
.st-5,
.st-6 {
    .sub-title {
        font-style: italic;
    }
}

.detail-button-container {
    cursor: pointer;
    width: 185px;
    height: 40px;
    background-image: url(../images/bg-button.png);
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-detail {
        p {
            margin-bottom: 0;
            font-size: 17px;
            color: white;
            font-family: "SVN-Conqueror Didot";
            font-weight: 300;
            font-style: normal;
        }
    }
}

.div-test {
    width: 100%;
    height: 1000px;
    background-color: red;
}
.div-test-2 {
    width: 100%;
    height: 1000px;
    background-color: yellow;
}

.st-2 {
    .stack-content {
        overflow: auto;
        width: calc(100% - 180px);
        margin: 0 auto;
        padding: 0 0px;
        box-sizing: border-box !important;
        justify-content: start;
    }

    // .stack-content::-webkit-scrollbar-track {
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //     border-radius: 10px;
    //     background-color: #d6f6f7;
    // }

    // .stack-content::-webkit-scrollbar {
    //     width: 12px;
    //     background-color: transparent;
    // }

    // .stack-content::-webkit-scrollbar-thumb {
    //     border-radius: 10px;
    //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //     background-color: #98c6c7;
    // }
    // .stack-content::-webkit-scrollbar-track {
    //     margin-top: 300px;
    //     margin-bottom: 300px;
    // }
    .mCSB_scrollTools .mCSB_draggerRail {
        width: 12px;
        background-color: #d6f7f8;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 8px;

        background-color: #98c6c7;
    }
    .mCSB_scrollTools .mCSB_dragger {
        padding-top: 5px;
    }
    .mCustomScrollBox {
        width: 100%;
    }
}

.st-2 {
    .swiper-slide img {
        display: block;
        width: fit-content;
        height: auto;
        object-fit: cover;
        max-width: 100%;
    }
    .slide-stack {
        overflow: hidden;
        margin: 0 auto;
        width: fit-content;
        padding: 0 100px;
    }
    .slide-stack-2 {
        width: 900px;
        overflow: hidden;
    }
    .group_text_1 {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .group_text_3 {
        margin-top: 50px;
    }
}
.slide-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: fit-content;
    padding: 0 100px;
}

.img-des {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

//Modal
.modal-body {
    padding: 0;
    overflow: hidden;
}
.modal-dialog {
    max-width: 1100px;
    margin-top: 0;
    margin-bottom: 0;
}
.close-button {
    position: absolute;
    right: -5%;
    top: 1%;
    background-color: transparent;
    border: none;
    img {
        width: 40px;
        height: auto;
    }
}
.modal-dialog-scrollable {
    height: 100%;
    .modal-content {
        overflow: visible;
        position: relative;
    }
}
.modal-header {
    padding: 0;
    border: none;
}

// Detail\
.detail {
    p {
        color: #ffffff;
    }
    display: none;
}

.detail-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

.detail-1 {
    background-image: url("../images/bg-detail.jpg");
    .img-1 {
        margin-top: 50px;
    }
    .group_img_1 {
        margin-bottom: 30px;
    }
}
.detail-2 {
    padding-bottom: 50px;
    background-image: url("../images/bg-detail.jpg");
    .img-1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .img-2-container {
        width: 100%;
        padding: 92px 0;
        background-image: url("../images/tab-3/bg-1.png");
        background-position: center;
        background-repeat: no-repeat;
        // background-size: contain;
    }
    .detail-container {
        width: 100%;
    }
    .group_img_2 {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .group_img_3 {
        margin-top: 30px;
    }
}
.detail-3 {
    padding-bottom: 50px;
    background-image: url("../images/tab-4/bg-detail.jpg");
    .group_img_4 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .group-img-5-container {
        width: 100%;
        padding: 0px 0;
        background-image: url("../images/tab-4/bg-group-5.png");
        background-position: center top 37%;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .group_img_6 {
        margin-top: -5%;
    }
}
.detail-4 {
    padding-bottom: 50px;
    background-image: url("../images/bg-detail.jpg");
}

.detail-show {
    display: inherit !important;
}
.mCSB_scrollTools {
    height: 50%;

    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 1600px) {
    .toLeft {
        transform: translateX(calc(-91%));
    }
    .slide-container {
        transform: scale(0.9) !important;
    }
    .st-1 .img-1 {
        height: 38vh;
        margin-top: 30px;
    }
    .stack-title {
        font-size: 50px;
    }
    .st-1 .stack-title {
        margin-bottom: 35px !important;
    }
}
@media (max-width: 1440px) {
    .toLeft {
        transform: translateX(calc(-91%));
    }
    .st-2 {
        .swiper {
            width: 700px;
        }
    }
    .st-3,
    .st-4,
    .st-5 {
        .slide-container {
            transform: scale(0.85) !important;
        }
    }
    .st-1 .img-1 {
        height: 38vh;
        margin-top: 30px;
    }
    .stack-title {
        font-size: 50px;
    }
    .st-1 .stack-title {
        margin-bottom: 35px !important;
    }
    .st-1 .sub-title {
        padding: 0 80px;
        br {
            display: none;
        }
    }
    .st-2 .stack-content {
        width: calc(100% - 115px);
    }
    .slide-container {
        padding: 0px 90px;
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }
}

@media (max-width: 1366px) {
    .st-1 .img-1 {
        margin-bottom: 25px;
    }
    .stack-title {
        font-size: 40px;
    }
    .sub-title {
        font-size: 20px;
        padding: 0 110px;
    }
    .st-1 .decor-2 {
        top: 2%;
        left: 2%;
    }
    .st-1 .decor-1 {
        bottom: 1%;
    }
    .st-2 .group_text_1 {
        margin-top: 50px;
    }
    .st-3,
    .st-4,
    .st-5 {
        .stack-content {
            padding-top: 0px;
        }
        .sub-title {
            font-size: 18px;
        }
        .slide-des {
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: -10px;
        }
        .slide-container {
            margin-top: -20px;
        }
        .swiper {
            width: 804px !important;
        }
        .slide-container {
            padding: 0 11px;
        }
    }
}

@media (max-width: 1024px) {
    .stack-item {
        position: inherit;
        width: 100%;
        left: inherit !important;
    }
    .st-1,
    .st-2,
    .st-3,
    .st-4,
    .st-5,
    .st-6,
    .st-7 {
        background-image: none;
        img {
            width: fit-content;
            height: auto !important;
        }
    }
    .stack-container {
        height: auto;
    }
    .st-2 .stack-content {
        width: calc(100%);
    }
    .active-button {
        display: none;
    }
}

.my-menu {
    position: fixed;
    bottom: 0;
    background-color: red;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0 ;
        li {
            font-size: 16px ;
            transition: all 0.2s ;
            &:hover {
                color: #d6f7f8;
                font-size: 20px ;
            }
            cursor: pointer;
            &.active{
                font-size: 20px ;
                color: #d6f7f8;
            }
        }
    }
}
