@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Italic.eot");
  src: url("../fonts/Gelasio-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Italic.woff2") format("woff2"), url("../fonts/Gelasio-Italic.woff") format("woff"), url("../fonts/Gelasio-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Bold.eot");
  src: url("../fonts/Gelasio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Bold.woff2") format("woff2"), url("../fonts/Gelasio-Bold.woff") format("woff"), url("../fonts/Gelasio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-BoldItalic.eot");
  src: url("../fonts/Gelasio-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-BoldItalic.woff2") format("woff2"), url("../fonts/Gelasio-BoldItalic.woff") format("woff"), url("../fonts/Gelasio-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-SemiBoldItalic.eot");
  src: url("../fonts/Gelasio-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gelasio-SemiBoldItalic.woff") format("woff"), url("../fonts/Gelasio-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Regular.eot");
  src: url("../fonts/Gelasio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Regular.woff2") format("woff2"), url("../fonts/Gelasio-Regular.woff") format("woff"), url("../fonts/Gelasio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-MediumItalic.eot");
  src: url("../fonts/Gelasio-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-MediumItalic.woff2") format("woff2"), url("../fonts/Gelasio-MediumItalic.woff") format("woff"), url("../fonts/Gelasio-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-SemiBold.eot");
  src: url("../fonts/Gelasio-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-SemiBold.woff2") format("woff2"), url("../fonts/Gelasio-SemiBold.woff") format("woff"), url("../fonts/Gelasio-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Conqueror Didot";
  src: url("../fonts/SVN-ConquerorDidot.eot");
  src: url("../fonts/SVN-ConquerorDidot.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-ConquerorDidot.woff2") format("woff2"), url("../fonts/SVN-ConquerorDidot.woff") format("woff"), url("../fonts/SVN-ConquerorDidot.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "iCiel Bon Vivant Serif";
  src: url("../fonts/iCielBonVivant-SerifBold.eot");
  src: url("../fonts/iCielBonVivant-SerifBold.eot?#iefix") format("embedded-opentype"), url("../fonts/iCielBonVivant-SerifBold.woff2") format("woff2"), url("../fonts/iCielBonVivant-SerifBold.woff") format("woff"), url("../fonts/iCielBonVivant-SerifBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Alienor Display";
  src: url("../fonts/SVN-AlienorDisplay-Light.eot");
  src: url("../fonts/SVN-AlienorDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-AlienorDisplay-Light.woff2") format("woff2"), url("../fonts/SVN-AlienorDisplay-Light.woff") format("woff"), url("../fonts/SVN-AlienorDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Alienor Display";
  src: url("../fonts/SVN-AlienorDisplay-Regular.eot");
  src: url("../fonts/SVN-AlienorDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-AlienorDisplay-Regular.woff2") format("woff2"), url("../fonts/SVN-AlienorDisplay-Regular.woff") format("woff"), url("../fonts/SVN-AlienorDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Italic.eot");
  src: url("../fonts/Gelasio-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Italic.woff2") format("woff2"), url("../fonts/Gelasio-Italic.woff") format("woff"), url("../fonts/Gelasio-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Regular.eot");
  src: url("../fonts/Gelasio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Regular.woff2") format("woff2"), url("../fonts/Gelasio-Regular.woff") format("woff"), url("../fonts/Gelasio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-Gilroy.eot");
  src: url("../fonts/SVN-Gilroy.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gilroy.woff2") format("woff2"), url("../fonts/SVN-Gilroy.woff") format("woff"), url("../fonts/SVN-Gilroy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyItalic.eot");
  src: url("../fonts/SVN-GilroyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyItalic.woff") format("woff"), url("../fonts/SVN-GilroyItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanPSMT.eot");
  src: url("../fonts/TimesNewRomanPSMT.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanPSMT.woff2") format("woff2"), url("../fonts/TimesNewRomanPSMT.woff") format("woff"), url("../fonts/TimesNewRomanPSMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  background-color: #d6f7f8; }

.my_container {
  background-color: #d6f7f8;
  overflow: hidden;
  position: relative; }

.img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "Gelasio";
  font-weight: normal;
  font-style: normal; }

.group_image {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.author {
  font-size: 18px;
  font-family: "Gelasio";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 40px; }
  .author p {
    text-align: center;
    margin-bottom: 0; }
    .author p span {
      font-weight: bold; }

.my-stack {
  box-sizing: border-box !important; }

.as-panel {
  box-shadow: none !important; }

.p-7 {
  background-color: aqua; }

.stack-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 46px); }

.stack-item {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1977px;
  background-position: right top;
  transition: all 1.2s;
  width: calc(100% - 300px);
  overflow: hidden; }

.active-button {
  position: absolute;
  top: 7%;
  right: 14px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  font-family: "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 18; }
  .active-button:hover {
    color: #12484d; }

.st-1 {
  background-image: url(../images/home/bg.png);
  left: 0;
  height: 100%; }

.st-2 {
  background-image: url(../images/tab-1/bg.png);
  left: 50px;
  height: 100%; }

.st-10 {
  background-image: url(../images/tab-2/bg.png);
  left: 100px;
  height: 100%; }

.st-3 {
  background-image: url(../images/tab-2/bg.png);
  left: 150px;
  height: 100%; }

.st-4 {
  background-image: url(../images/tab-3/bg.png);
  left: 200px;
  height: 100%; }

.st-5 {
  background-image: url(../images/tab-4/bg.png);
  left: 250px;
  height: 100%; }

.st-6 {
  background-image: url(../images/tab-5/bg.png);
  left: 300px;
  height: 100%; }

.st-7 {
  background-image: url(../images/tab-6/bg.png);
  left: 300px;
  height: 100%;
  padding-right: 50px; }

.toLeft {
  transform: translateX(calc(-93%)); }

.stack-title {
  font-size: 60px;
  color: #12484d;
  font-family: "SVN-Alienor Display";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.1 !important; }

.sub-title {
  font-size: 22px;
  color: #12484d;
  font-family: "iCiel Bon Vivant Serif";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  max-width: 100%; }

.slide-des {
  font-size: 21px;
  color: #12484d;
  font-family: "iCiel Bon Vivant Serif";
  font-weight: bold;
  font-style: normal;
  text-align: center; }

.stack-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.img-full {
  width: auto;
  height: 65vh; }

.img-decor {
  position: absolute; }

.pointer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: fit-content;
  margin: 0 auto; }
  .pointer-container p {
    margin-bottom: 0;
    font-family: "Gelasio";
    color: #12484d;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    text-align: center;
    font-size: 13px; }

.click-container {
  display: none;
  justify-content: center;
  gap: 20px;
  align-items: center; }
  .click-container p {
    margin-bottom: 0;
    font-family: "Gelasio";
    color: #12484d;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    text-align: center;
    font-size: 16px; }

.img-pointer {
  width: fit-content;
  height: fit-content; }

.img-pointer-2 {
  margin-left: -30px;
  animation: pointer 1.3s linear infinite alternate; }

.img-pointer-2-1 {
  margin-top: 5px;
  width: 14px;
  margin-left: 1px;
  animation: pointer-2 1s linear infinite alternate; }

@keyframes pointer-2 {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(12px); } }
@keyframes pointer {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(12px); } }
.st-1 .decor-1 {
  bottom: 1%;
  right: 4%; }
.st-1 .decor-2 {
  top: 2%;
  left: 2%; }
.st-1 .img-1 {
  height: 45vh;
  margin-bottom: 50px; }
.st-1 .stack-title {
  margin-bottom: 60px !important; }
.st-1 p.sub-title {
  margin-bottom: 33px; }
.st-1 .group_img_11 {
  margin-left: 16%; }
  .st-1 .group_img_11 img {
    height: 80vh; }
.st-1 .group_img_12 {
  margin-top: -16%;
  max-width: 38%;
  margin-bottom: 20px; }

.st-3 .slide-stack {
  margin-bottom: 30px;
  margin-top: 10px; }

.st-6 .stack-content {
  justify-content: start;
  padding-top: 6%; }
  .st-6 .stack-content .stack-title {
    margin-bottom: 15px; }
  .st-6 .stack-content .sub-title {
    margin-bottom: 40px; }

.st-7 .stack-content {
  justify-content: start;
  align-items: center; }
.st-7 .video-area {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 50px;
  position: relative; }
.st-7 .img-play {
  position: absolute;
  top: 33%;
  left: 24%;
  cursor: pointer; }
.st-7 .group_text_2 {
  margin-top: 10px; }
  .st-7 .group_text_2 p {
    text-align: center !important; }
  .st-7 .group_text_2 a {
    font-family: "SVN-Conqueror Didot";
    font-weight: 300;
    font-style: normal;
    font-style: italic;
    text-decoration: underline; }

.detail-5 .video-area {
  margin-top: 30px;
  margin-bottom: 60px; }
  .detail-5 .video-area .img-play {
    margin-top: 25px; }

.swiper {
  width: 900px;
  max-width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: auto;
  height: 50vh;
  object-fit: cover; }

.slide-stack {
  width: 60%;
  padding: 0 50px;
  margin: 0 auto; }

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none; }

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none; }

.swiper-button-next,
.swiper-button-prev {
  width: 70px; }

.st-10 .sub-title,
.st-3 .sub-title,
.st-4 .sub-title,
.st-5 .sub-title,
.st-6 .sub-title {
  font-style: italic; }

.detail-button-container {
  cursor: pointer;
  width: 185px;
  height: 40px;
  background-image: url(../images/bg-button.png);
  display: flex;
  align-items: center;
  justify-content: center; }
  .detail-button-container .btn-detail p {
    margin-bottom: 0;
    font-size: 17px;
    color: white;
    font-family: "SVN-Conqueror Didot";
    font-weight: 300;
    font-style: normal; }

.div-test {
  width: 100%;
  height: 1000px;
  background-color: red; }

.div-test-2 {
  width: 100%;
  height: 1000px;
  background-color: yellow; }

.st-2 .stack-content {
  overflow: auto;
  width: calc(100% - 120px);
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box !important;
  justify-content: start; }

.st-10 .mCSB_scrollTools .mCSB_draggerRail,
.st-1 .mCSB_scrollTools .mCSB_draggerRail,
.st-2 .mCSB_scrollTools .mCSB_draggerRail,
.st-3 .mCSB_scrollTools .mCSB_draggerRail,
.st-4 .mCSB_scrollTools .mCSB_draggerRail,
.st-5 .mCSB_scrollTools .mCSB_draggerRail,
.st-6 .mCSB_scrollTools .mCSB_draggerRail,
.st-7 .mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background-color: #d6f7f8; }
.st-10 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-1 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-3 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-4 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-5 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-6 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.st-7 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
  background-color: #98c6c7; }
.st-10 .mCSB_scrollTools .mCSB_dragger,
.st-1 .mCSB_scrollTools .mCSB_dragger,
.st-2 .mCSB_scrollTools .mCSB_dragger,
.st-3 .mCSB_scrollTools .mCSB_dragger,
.st-4 .mCSB_scrollTools .mCSB_dragger,
.st-5 .mCSB_scrollTools .mCSB_dragger,
.st-6 .mCSB_scrollTools .mCSB_dragger,
.st-7 .mCSB_scrollTools .mCSB_dragger {
  padding-top: 5px; }
.st-10 .mCustomScrollBox,
.st-1 .mCustomScrollBox,
.st-2 .mCustomScrollBox,
.st-3 .mCustomScrollBox,
.st-4 .mCustomScrollBox,
.st-5 .mCustomScrollBox,
.st-6 .mCustomScrollBox,
.st-7 .mCustomScrollBox {
  width: 100%; }

.st-7 .stack-content,
.st-6 .stack-content,
.st-5 .stack-content,
.st-4 .stack-content,
.st-3 .stack-content {
  width: calc(100% - 120px);
  margin: 0 auto; }

.swiper-container-3d .swiper-slide-shadow-left {
  display: none; }

.swiper-container-3d .swiper-slide-shadow-right {
  display: none; }

.st-2 .swiper-slide img {
  display: block;
  width: fit-content;
  height: auto;
  object-fit: cover;
  max-width: 100%; }
.st-2 .slide-stack {
  overflow: hidden;
  margin: 0 auto;
  width: fit-content;
  padding: 0 100px; }
.st-2 .slide-stack-2 {
  width: 900px;
  overflow: hidden; }
.st-2 .group_text_1 {
  margin-bottom: 40px; }
.st-2 .group_text_3 {
  margin-top: 50px; }

.slide-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: fit-content;
  padding: 0 100px; }

.img-des {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Gelasio";
  font-weight: 500;
  font-style: italic; }

.modal-body {
  padding: 0;
  overflow: hidden; }

.modal-dialog {
  max-width: 1100px;
  margin-top: 50px;
  margin-bottom: 50px; }

.close-button {
  position: absolute;
  right: -2%;
  top: -0.8%;
  background-color: transparent;
  border: none;
  z-index: 5; }
  .close-button img {
    width: 40px;
    height: auto; }

.close-button-video {
  position: absolute;
  right: 2%;
  top: 2%;
  background-color: transparent;
  border: none;
  z-index: 5; }
  .close-button-video img {
    width: 40px;
    height: auto; }

.modal-dialog-scrollable {
  height: 100%; }
  .modal-dialog-scrollable .modal-content {
    overflow: visible;
    position: relative; }

.modal-header {
  padding: 0;
  border: none; }
  .modal-header .modal-header {
    position: fixed;
    z-index: 20;
    top: 2%;
    width: 40px;
    right: 20px; }

.detail {
  display: none; }
  .detail p {
    color: #ffffff; }

.detail-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 70px; }

.detail-1 {
  background-image: url("../images/bg-detail.jpg"); }
  .detail-1 .img-1 {
    margin-top: 50px; }
  .detail-1 .group_img_1 {
    margin-bottom: 30px; }

.detail-2 {
  padding-bottom: 50px;
  background-image: url("../images/bg-detail.jpg"); }
  .detail-2 .img-1 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .detail-2 .img-2-container {
    width: 100%;
    padding: 92px 0;
    background-image: url("../images/tab-3/bg-1.png");
    background-position: center;
    background-repeat: no-repeat; }
  .detail-2 .detail-container {
    width: 100%; }
  .detail-2 .group_img_2 {
    margin-top: 30px;
    margin-bottom: 40px; }
  .detail-2 .group_img_3 {
    margin-top: 30px; }

.detail-3 {
  padding-bottom: 50px;
  background-image: url("../images/tab-4/bg-detail.jpg"); }
  .detail-3 .group_img_4 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .detail-3 .group-img-5-container {
    width: 100%;
    padding: 0px 0;
    background-image: url("../images/tab-4/bg-group-5.png");
    background-position: center top 37%;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px; }
  .detail-3 .group_img_6 {
    margin-top: -5%; }

.detail-4 {
  padding-bottom: 50px;
  background-image: url("../images/bg-detail.jpg"); }

.detail-show {
  display: inherit !important; }

.mCSB_scrollTools {
  height: 50%;
  top: 50%;
  transform: translateY(-50%); }

.extra-ver-2 {
  display: none; }

.my-menu {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  color: white;
  padding: 5px 10px;
  text-align: center;
  z-index: 1000;
  transition: all 0.5s;
  width: 351px;
  max-width: 100%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%); }
  .my-menu .slide-container {
    width: 100%; }
  .my-menu .swiper-slide {
    width: 100% !important; }
  .my-menu .nemu-item {
    background-image: url(../images/bg-button-menu.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .my-menu .slide-container {
    padding: 0px 0px; }
  .my-menu i {
    color: #012021;
    font-size: 32px; }

#modal-video {
  z-index: 5000; }
  #modal-video .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0; }
  #modal-video .modal-content {
    background-color: transparent;
    border: none; }
  #modal-video .modal-body {
    background-color: #000000d9;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; }

.video-container {
  width: 1280px;
  height: fit-content;
  max-width: 100%;
  position: relative;
  top: 23px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 70vw; }

.ratio {
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  z-index: 100;
  overflow: hidden;
  position: relative; }

.iframe-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.video {
  width: 100%; }

.loading-container {
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: #d6f7f8;
  position: absolute;
  opacity: 0;
  display: none;
  transition: all 0.5s; }

.my_container {
  opacity: 0;
  transition: all 0.5s; }

.is-loading-done {
  opacity: 1; }

@keyframes loading {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(12px); } }
.div-fake {
  width: 100%;
  height: 3000px;
  background-color: red; }

.st-10 .stack-content,
.st-1 .stack-content,
.st-2 .stack-content,
.st-3 .stack-content,
.st-4 .stack-content,
.st-5 .stack-content,
.st-6 .stack-content {
  overflow: auto;
  width: calc(100% - 120px);
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box !important;
  justify-content: start; }

.mCSB_container {
  padding-top: 50px;
  padding-bottom: 50px; }

.st-1 .mCSB_container {
  padding-top: 0px; }

.st-3 .group_text_1 {
  margin-top: 30px; }
.st-3 .group_img_1 {
  margin-bottom: 40px; }
.st-3 .img-1 {
  margin-top: 30px; }

.st-4 .group_text_1 {
  margin-top: 30px; }
.st-4 .img-1 {
  margin-top: 30px;
  margin-bottom: 40px; }
.st-4 .img-2-container {
  margin: 0 auto;
  padding: 90px 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url(../images/tab-3/bg-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: fit-content; }
.st-4 .group_img_2 {
  margin-top: 30px;
  margin-bottom: 40px; }

.st-5 .group_text_1 {
  margin-top: 30px; }
.st-5 .group_img_4 {
  margin-top: 30px;
  margin-bottom: 30px; }
.st-5 .group_img_5 {
  margin-top: 30px; }
.st-5 .group_img_6 {
  margin-top: -4%; }

.st-10 .img-1 {
  height: 50vh;
  width: auto; }
.st-10 .img-2 {
  width: 70%; }
.st-10 .img-3 {
  width: 54%; }
.st-10 .group_text_1 {
  margin-top: 30px; }
.st-10 .group_img_1 {
  margin-top: 30px;
  margin-bottom: 30px; }
.st-10 .img-2 {
  margin-bottom: 30px; }
.st-10 .img-3 {
  margin-top: 10px; }

.st-2 .mCSB_container {
  padding-top: 35px;
  padding-bottom: 50px; }

@media (max-width: 1600px) {
  .toLeft {
    transform: translateX(calc(-91%)); }

  .slide-container {
    transform: scale(0.9) !important; }

  .st-1 .img-1 {
    height: 38vh;
    margin-top: 30px; }

  .stack-title {
    font-size: 50px; }

  .st-1 .stack-title {
    margin-bottom: 35px !important; }

  .stack-item {
    background-position: right top 4%; }

  .st-1 p.sub-title {
    margin-bottom: 18px; }
  .st-1 .st-1 .group_img_11 img {
    height: 79vh; }
  .st-1 .sub-title {
    font-size: 20px; } }
@media (max-width: 1440px) {
  .stack-item {
    background-position: right top 2%; }

  .toLeft {
    transform: translateX(calc(-90%)); }

  .st-2 .swiper {
    width: 700px; }

  .st-3 .slide-container,
  .st-4 .slide-container,
  .st-5 .slide-container {
    transform: scale(0.85) !important; }

  .st-1 .img-1 {
    height: 38vh;
    margin-top: 30px; }

  .stack-title {
    font-size: 50px; }

  .st-1 .stack-title {
    margin-bottom: 35px !important; }

  .st-1 .sub-title {
    padding: 0 80px; }
    .st-1 .sub-title br {
      display: none; }

  .st-2 .stack-content {
    width: calc(100% - 115px); }

  .slide-container {
    padding: 0px 90px; }

  .mCSB_inside > .mCSB_container {
    margin-right: 0px; }

  .active-button {
    font-size: 17px; }

  .video-container {
    max-width: 80vw; }

  .st-1 .decor-1 {
    right: 6%; } }
@media (max-width: 1366px) {
  .stack-item {
    background-position: right top 5.5%; }

  .st-1 .img-1 {
    margin-bottom: 25px; }

  .stack-title {
    font-size: 40px; }

  .sub-title {
    font-size: 20px;
    padding: 0 110px; }

  .st-1 .decor-2 {
    top: 2%;
    left: 2%; }

  .st-1 .decor-1 {
    bottom: 1%; }

  .st-10 .stack-content,
  .st-3 .stack-content,
  .st-4 .stack-content,
  .st-5 .stack-content {
    padding-top: 0px; }
  .st-10 .sub-title,
  .st-3 .sub-title,
  .st-4 .sub-title,
  .st-5 .sub-title {
    font-size: 18px; }
  .st-10 .slide-des,
  .st-3 .slide-des,
  .st-4 .slide-des,
  .st-5 .slide-des {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -10px; }
  .st-10 .slide-container,
  .st-3 .slide-container,
  .st-4 .slide-container,
  .st-5 .slide-container {
    margin-top: -20px; }
  .st-10 .swiper,
  .st-3 .swiper,
  .st-4 .swiper,
  .st-5 .swiper {
    width: 804px !important; }
  .st-10 .slide-container,
  .st-3 .slide-container,
  .st-4 .slide-container,
  .st-5 .slide-container {
    padding: 0 11px; } }
.extra-tab {
  display: none; }

@media (max-width: 1024px) {
  .extra-tab {
    display: block; }

  .stack-item {
    width: 100%;
    background-position: center top;
    position: static; }
    .stack-item .active-button {
      display: none; }

  .stack-container {
    height: auto; }

  .stack-home {
    background-size: cover;
    padding: 50px 30px 0px 30px; }

  .st-1 .sub-title {
    padding: 0px 20px; }

  .pointer-container {
    display: none; }

  .click-container {
    display: flex;
    flex-direction: column;
    gap: 20px; }

  .group-icon {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .group-icon img {
      position: absolute; }
    .group-icon .img-pointer-2 {
      transform: rotateX("180deg"); }

  .click-container {
    margin-top: 50px; }

  .modal-content {
    max-width: calc(100% - 0px);
    margin: 0 auto; }

  .detail-1,
  .detail-2,
  .detail-3,
  .detail-4,
  .detail-5 {
    background-image: none;
    z-index: 5;
    background-color: transparent;
    position: static; }

  .modal-body::after {
    position: fixed;
    width: 100%;
    height: 100vh;
    content: "";
    background-image: url(../images/bg-detail.jpg);
    z-index: 2;
    top: 0px; }

  .modal-header {
    position: fixed;
    z-index: 20;
    top: 2%;
    width: 40px;
    right: 20px; }

  .extra-tab .slide-container {
    transform: scale(1) !important;
    padding: 0px 30px; }
  .extra-tab .swiper {
    width: 700px; }
  .extra-tab .stack-title {
    font-size: 50px; }

  .detail .extra-tab .sub-title {
    margin-bottom: 40px; }
  .detail .slide-container {
    margin-top: 30px;
    margin-bottom: 30px; }
  .detail .slide-des {
    margin-bottom: 30px; }

  .detail-container {
    padding-top: 25px; }

  .modal.fade .modal-dialog {
    transition: none;
    transform: none; }

  .my-menu .swiper {
    margin: 0 auto; }

  .stack-item {
    height: 100%;
    background-image: none; }

  .stack-content {
    height: 100%;
    overflow: hidden !important; }
    .stack-content img {
      width: fit-content !important;
      height: auto !important; }

  .my-stack {
    background-image: url(../images/bg-mobile.jpg); }

  .st-7 .img-play {
    position: absolute;
    top: 33%;
    left: 23%;
    cursor: pointer;
    width: 8% !important; }

  .st-1 .decor-1,
  .st-1 .decor-2 {
    display: none; }
  .st-1 .group-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .st-1 .group-icon img {
      width: 15px !important; }
  .st-1 .group_img_11 {
    margin-left: 8%;
    width: 100%; }
  .st-1 .group_img_12 {
    margin-top: -18%;
    max-width: 58%;
    margin-bottom: 40px; }
  .st-1 .st-1 p.sub-title {
    margin-bottom: 40px;
    font-size: 23px; }

  .st-2 .slide-container {
    padding: 0px 80px !important;
    width: 100%;
    max-width: 85% !important; }

  .click-container {
    display: none; }

  .stack-container .slide-container {
    transform: scale(1) !important;
    padding: 0px 30px;
    width: 100%;
    max-width: 85%;
    margin-top: 0; }
  .stack-container .swiper {
    width: 100% !important;
    max-width: 100%; }
  .stack-container .stack-title {
    font-size: 50px; }
  .stack-container .img-btn {
    width: 50px !important; }
  .stack-container .stack-item {
    padding-top: 70px; }
  .stack-container .stack-title {
    margin-bottom: 40px; }
  .stack-container .sub-title {
    margin-bottom: 30px;
    font-size: 20px; }

  .st-2 {
    margin-top: -50px; }

  .st-7 {
    padding-right: 0; }
    .st-7 .video-area {
      padding: 0; }

  .st-4 .img-2-container {
    padding: 36px 71px; }

  .text_content {
    width: 100%; } }
@media (max-width: 820px) {
  .slide-stack-2-extra {
    width: 600px; }
    .slide-stack-2-extra .swiper-slide img {
      width: fit-content;
      height: auto; }
    .slide-stack-2-extra .extra-ver-2 .slide-container {
      padding: 0px 41px; }

  .extra-ver-2 .img-des {
    margin-top: 3px; }

  .detail-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

  .st-1 .img-1 {
    height: auto;
    width: fit-content; }

  .st-1 .group_img_12 {
    max-width: 80%; }

  .sub-title {
    font-size: 20px;
    padding: 0px; } }
@media (min-width: 577px) {
  .mobile {
    display: none !important; } }
@media (max-width: 576px) {
  .pc {
    display: none !important; }

  .extra-ver-2 .slide-container {
    padding: 0px 0px; }

  .slide-stack-2-extra {
    width: 100%; }

  .group-btn-slide {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 15px; }
    .group-btn-slide .swiper-button-next,
    .group-btn-slide .swiper-button-prev {
      position: static; }

  .extra-ver-2 .img-des {
    margin-top: -12px;
    margin-bottom: 30px; }

  .stack-home {
    padding: 10px 30px 132px 30px; }

  .click-container {
    margin-top: 35px; }

  .slide-stack-2-extra .swiper-slide img {
    width: 100%;
    height: auto; }

  .st-1 .sub-title {
    font-size: 28px; }
  .st-1 .img-line {
    margin-bottom: 30px; }

  .extra-ver-2 .text_content {
    font-family: "SVN-Gilroy";
    font-weight: normal;
    font-style: normal; }

  .detail-1 .stack-title {
    padding-left: 60px;
    padding-right: 60px; }
  .detail-1 .sub-title {
    padding: 0 20px; }
  .detail-1 .slide-des {
    color: #68cbe9;
    font-style: italic; }
  .detail-1 .slide-des {
    margin-bottom: 25px;
    margin-top: -5px; }

  .detail-2 .img-2-container {
    width: 100%;
    padding: 92px 0;
    background-image: url(../images/tab-3/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

  .detail-3 .sub-title {
    font-style: italic; }
  .detail-3 .img-line {
    margin-bottom: 30px; }

  .detail-4 .sub-title-2 {
    margin-bottom: 20px !important;
    color: #68cbe9;
    font-style: italic; }
  .detail-4 .img-line {
    margin-bottom: 30px; }

  .detail-5 .group_text_2 {
    margin-bottom: 60px; }
    .detail-5 .group_text_2 .text_content {
      text-align: center !important; }
    .detail-5 .group_text_2 a {
      color: #ffffff !important; }

  .detail-2 .detail-container,
  .detail-3 .detail-container,
  .detail-4 .detail-container {
    padding-top: 0; }

  .detail .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; }
  .detail .swiper {
    width: 100%; }
  .detail .sub-title {
    padding: 0 20px; }

  .slide-container {
    width: 100%; }

  .stack-container .stack-item {
    padding-top: 60px; }

  .st-1 {
    padding-top: 0px !important; }

  .stack-home {
    padding: 0; }

  .stack-item .stack-content {
    width: 100%; }

  .st-1 p.sub-title {
    margin-bottom: 18px;
    margin-top: -11%;
    padding: 0 15px; }

  .toLeft {
    left: 0; }

  .group_text {
    padding-left: 15px;
    padding-right: 15px; }

  .group-btn-outside {
    position: relative;
    margin-top: 25px;
    width: 50%; }

  .st-2 .slide-container {
    padding: 0 !important; }
  .st-2 .group_text_1 {
    margin-bottom: 10px; }

  .stack-container .sub-title {
    padding: 0 30px; }

  .stack-container .stack-title {
    margin-bottom: 30px; }

  .slide-des {
    font-style: italic; }

  .stack-container .stack-item {
    padding-top: 35px; }
    .stack-container .stack-item .img-line-mobile {
      width: fit-content !important; }

  .st-1 .img-line {
    margin-bottom: 30px;
    width: 70% !important; }

  .group_image {
    max-width: calc(100% - 20px); }

  .st-1 .group_image {
    max-width: calc(100% - 0px) !important; }

  .st-4 .img-2-container {
    padding: 19px 32px;
    margin-top: 0; }

  .st-4 .group_img_2 {
    margin-top: 20px;
    margin-bottom: 40px; }

  .slide-des {
    padding: 0 30px; }

  .st-7 .img-play {
    position: static;
    width: 17% !important;
    margin-bottom: 30px; }

  .st-10 .group_img_1 {
    margin-top: 10px;
    margin-bottom: 20px; }
  .st-10 .img-2 {
    margin-bottom: 25px;
    max-width: calc(100% - 20px); }
  .st-10 .img-3 {
    max-width: calc(90%); }

  .img-1 {
    margin-left: 3%; } }
@media (max-width: 440px) {
  .st-1 .sub-title {
    font-size: 25px; }

  .stack-container .sub-title {
    padding: 0 30px; }
    .stack-container .sub-title br {
      display: none; }

  .st-10 .sub-title br {
    display: block; }

  .st-2 .group_text_1 {
    margin-bottom: 10px;
    margin-top: 15px; }

  .st-7 .img-play {
    width: 21% !important; }

  .stack-container .stack-title {
    margin-bottom: 25px; }

  .st-3 .group_img_1 {
    margin-bottom: 25px; }

  .st-4 .group_img_2 {
    margin-top: 20px;
    margin-bottom: 30px; }

  .st-5 .group_img_4 {
    margin-top: 10px;
    margin-bottom: 25px; }

  .st-5 .group_img_5 {
    margin-top: 0px; }

  .author {
    font-size: 15px;
    margin-top: 50px; }

  .st-4 .img-1 {
    margin-top: 15px;
    margin-bottom: 30px; }

  .stack-container .stack-item {
    padding-top: 30px; }

  .stack-container .slide-container {
    padding: 0px 0px; }

  .stack-container .slide-container {
    max-width: 95% !important; }

  .video-container {
    max-width: 100vw; }

  .st-4 .img-2-container {
    padding: 10px 10px; }

  .st-3 .img-1 {
    margin-top: 10px; }

  .st-10 .img-1 {
    margin-top: -3%; } }
@media (max-width: 430px) {
  .detail-1 .sub-title br,
  .detail-2 .sub-title br,
  .detail-3 .sub-title br {
    display: none; }
  .detail-1 .stack-title,
  .detail-2 .stack-title,
  .detail-3 .stack-title {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 40px; } }
@media (max-width: 414px) {
  .detail-1 .stack-title,
  .detail-2 .stack-title {
    margin-bottom: 30px; }

  .detail-3 .stack-title {
    margin-bottom: 20px; }

  .detail-4 .sub-title {
    padding: 0 0px; }

  .detail .sub-title {
    padding: 0 5px; }

  .detail {
    padding: 0 10px; }

  .detail-container {
    padding-left: 0px;
    padding-right: 0px; }

  .stack-container .stack-title {
    font-size: 48px; }

  .stack-container .sub-title {
    padding: 0 25px; }

  .stack-container .stack-item {
    padding-top: 22px; } }
@media (max-width: 414px) {
  .author {
    font-size: 16px; } }
@media (max-width: 390px) {
  .stack-container .stack-title {
    font-size: 45px; } }
@media (max-width: 375px) {
  .stack-container .stack-title {
    font-size: 44px; } }
.my-menu {
  width: 100%;
  background-image: url(../images/bg-group-button.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(216, 212, 212, 0.507); }

/*# sourceMappingURL=main.css.map */
