@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Italic.eot");
  src: url("../fonts/Gelasio-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Italic.woff2") format("woff2"), url("../fonts/Gelasio-Italic.woff") format("woff"), url("../fonts/Gelasio-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Bold.eot");
  src: url("../fonts/Gelasio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Bold.woff2") format("woff2"), url("../fonts/Gelasio-Bold.woff") format("woff"), url("../fonts/Gelasio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-BoldItalic.eot");
  src: url("../fonts/Gelasio-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-BoldItalic.woff2") format("woff2"), url("../fonts/Gelasio-BoldItalic.woff") format("woff"), url("../fonts/Gelasio-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Medium.eot");
  src: url("../fonts/Gelasio-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Medium.woff2") format("woff2"), url("../fonts/Gelasio-Medium.woff") format("woff"), url("../fonts/Gelasio-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-SemiBoldItalic.eot");
  src: url("../fonts/Gelasio-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gelasio-SemiBoldItalic.woff") format("woff"), url("../fonts/Gelasio-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Regular.eot");
  src: url("../fonts/Gelasio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Regular.woff2") format("woff2"), url("../fonts/Gelasio-Regular.woff") format("woff"), url("../fonts/Gelasio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("Gelasio-MediumItalic.eot");
  src: url("Gelasio-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Gelasio-MediumItalic.woff2") format("woff2"), url("Gelasio-MediumItalic.woff") format("woff"), url("Gelasio-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("Gelasio-SemiBold.eot");
  src: url("Gelasio-SemiBold.eot?#iefix") format("embedded-opentype"), url("Gelasio-SemiBold.woff2") format("woff2"), url("Gelasio-SemiBold.woff") format("woff"), url("Gelasio-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Conqueror Didot";
  src: url("SVN-ConquerorDidot.eot");
  src: url("SVN-ConquerorDidot.eot?#iefix") format("embedded-opentype"), url("SVN-ConquerorDidot.woff2") format("woff2"), url("SVN-ConquerorDidot.woff") format("woff"), url("SVN-ConquerorDidot.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
.my_container {
  background-color: #d6f7f8;
  overflow: hidden; }

.img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "SVN-Conqueror Didot";
  font-weight: 300;
  font-style: normal; }

.group_image {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.author {
  font-size: 18px;
  font-family: "SVN-Conqueror Didot";
  font-weight: 300;
  font-style: normal;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 40px; }
  .author p {
    text-align: center;
    margin-bottom: 0; }
    .author p span {
      font-weight: bold; }

.my-stack {
  box-sizing: border-box !important; }

.as-panel {
  box-shadow: none !important; }

.p-7 {
  background-color: aqua; }

.stack-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 46px); }

.stack-item {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1977px;
  background-position: right top;
  transition: all 1.5s;
  width: calc(100% - 300px); }

.active-button {
  position: absolute;
  top: 7%;
  right: 14px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }
  .active-button:hover {
    color: red; }

.st-1 {
  background-image: url(../images/home/bg.png);
  left: 0;
  height: 100%; }

.st-2 {
  background-image: url(../images/tab-1/bg.png);
  left: 50px;
  height: 100%; }

.st-3 {
  background-image: url(../images/tab-2/bg.png);
  left: 100px;
  height: 100%; }

.st-4 {
  background-image: url(../images/tab-3/bg.png);
  left: 150px;
  height: 100%; }

.st-5 {
  background-image: url(../images/tab-4/bg.png);
  left: 200px;
  height: 100%; }

.st-6 {
  background-image: url(../images/tab-5/bg.png);
  left: 250px;
  height: 100%; }

.st-7 {
  background-image: url(../images/tab-6/bg.png);
  left: 300px;
  height: 100%; }

.toLeft {
  transform: translateX(calc(-93%)); }

.stack-title {
  font-size: 60px;
  font-family: "SVN-Conqueror Didot";
  color: #12484d;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  text-align: center;
  line-height: 1.1 !important; }

.sub-title {
  font-size: 22px;
  font-family: "Gelasio";
  color: #12484d;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  text-align: center; }

.slide-des {
  font-size: 20px;
  font-family: "Gelasio";
  color: #12484d;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  text-align: center; }

.stack-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.img-full {
  width: auto;
  height: 65vh; }

.img-decor {
  position: absolute; }

.pointer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center; }
  .pointer-container p {
    margin-bottom: 0;
    font-family: "Gelasio";
    color: #12484d;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    text-align: center;
    font-size: 13px; }

.img-pointer {
  width: fit-content;
  height: fit-content; }

.img-pointer-2 {
  margin-left: -30px;
  animation: pointer 1.3s linear infinite alternate; }

@keyframes pointer {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(12px); } }
.st-1 .decor-1 {
  bottom: 4%;
  right: 6%; }
.st-1 .decor-2 {
  top: 5%;
  left: 2%; }
.st-1 .img-1 {
  height: 45vh;
  margin-bottom: 50px; }
.st-1 .stack-title {
  margin-bottom: 60px !important; }
.st-1 p.sub-title {
  margin-bottom: 40px; }

.st-3 .slide-stack {
  margin-bottom: 30px;
  margin-top: 10px; }

.st-6 .stack-content {
  justify-content: start;
  padding-top: 6%; }
  .st-6 .stack-content .stack-title {
    margin-bottom: 15px; }
  .st-6 .stack-content .sub-title {
    margin-bottom: 40px; }

.st-7 .stack-content {
  justify-content: end; }
.st-7 .video-container {
  width: 80%;
  height: 400px;
  background-color: red; }
.st-7 .group_text_2 {
  margin-top: 20px; }
  .st-7 .group_text_2 p {
    text-align: center !important; }
  .st-7 .group_text_2 a {
    font-family: "SVN-Conqueror Didot";
    font-weight: 300;
    font-style: normal;
    font-style: italic;
    text-decoration: underline; }

.swiper {
  width: 900px;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: auto;
  height: 50vh;
  object-fit: cover; }

.slide-stack {
  width: 60%;
  padding: 0 50px;
  margin: 0 auto; }

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none; }

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none; }

.swiper-button-next,
.swiper-button-prev {
  width: 70px; }

.st-3 .sub-title,
.st-4 .sub-title,
.st-5 .sub-title,
.st-6 .sub-title {
  font-style: italic; }

.detail-button-container {
  cursor: pointer;
  width: 185px;
  height: 40px;
  background-image: url(../images/bg-button.png);
  display: flex;
  align-items: center;
  justify-content: center; }
  .detail-button-container .btn-detail p {
    margin-bottom: 0;
    font-size: 17px;
    color: white;
    font-family: "SVN-Conqueror Didot";
    font-weight: 300;
    font-style: normal; }

.div-test {
  width: 100%;
  height: 1000px;
  background-color: red; }

.div-test-2 {
  width: 100%;
  height: 1000px;
  background-color: yellow; }

.st-2 .stack-content {
  overflow: auto;
  width: calc(100% - 180px);
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box !important;
  justify-content: start; }
.st-2 .mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background-color: #d6f7f8; }
.st-2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
  background-color: #98c6c7; }
.st-2 .mCSB_scrollTools .mCSB_dragger {
  padding-top: 5px; }
.st-2 .mCustomScrollBox {
  width: 100%; }

.st-2 .swiper-slide img {
  display: block;
  width: fit-content;
  height: auto;
  object-fit: cover;
  max-width: 100%; }
.st-2 .slide-stack {
  overflow: hidden;
  margin: 0 auto;
  width: fit-content;
  padding: 0 100px; }
.st-2 .slide-stack-2 {
  width: 900px;
  overflow: hidden; }
.st-2 .group_text_1 {
  margin-top: 100px;
  margin-bottom: 40px; }
.st-2 .group_text_3 {
  margin-top: 50px; }

.slide-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: fit-content;
  padding: 0 100px; }

.img-des {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
