@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Italic.eot");
  src: url("../fonts/Gelasio-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Italic.woff2") format("woff2"), url("../fonts/Gelasio-Italic.woff") format("woff"), url("../fonts/Gelasio-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Bold.eot");
  src: url("../fonts/Gelasio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Bold.woff2") format("woff2"), url("../fonts/Gelasio-Bold.woff") format("woff"), url("../fonts/Gelasio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-BoldItalic.eot");
  src: url("../fonts/Gelasio-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-BoldItalic.woff2") format("woff2"), url("../fonts/Gelasio-BoldItalic.woff") format("woff"), url("../fonts/Gelasio-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Medium.eot");
  src: url("../fonts/Gelasio-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Medium.woff2") format("woff2"), url("../fonts/Gelasio-Medium.woff") format("woff"), url("../fonts/Gelasio-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-SemiBoldItalic.eot");
  src: url("../fonts/Gelasio-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gelasio-SemiBoldItalic.woff") format("woff"), url("../fonts/Gelasio-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("../fonts/Gelasio-Regular.eot");
  src: url("../fonts/Gelasio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelasio-Regular.woff2") format("woff2"), url("../fonts/Gelasio-Regular.woff") format("woff"), url("../fonts/Gelasio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("Gelasio-MediumItalic.eot");
  src: url("Gelasio-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Gelasio-MediumItalic.woff2") format("woff2"), url("Gelasio-MediumItalic.woff") format("woff"), url("Gelasio-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: "Gelasio";
  src: url("Gelasio-SemiBold.eot");
  src: url("Gelasio-SemiBold.eot?#iefix") format("embedded-opentype"), url("Gelasio-SemiBold.woff2") format("woff2"), url("Gelasio-SemiBold.woff") format("woff"), url("Gelasio-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "SVN-Conqueror Didot";
  src: url("SVN-ConquerorDidot.eot");
  src: url("SVN-ConquerorDidot.eot?#iefix") format("embedded-opentype"), url("SVN-ConquerorDidot.woff2") format("woff2"), url("SVN-ConquerorDidot.woff") format("woff"), url("SVN-ConquerorDidot.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
.my_container {
  background-color: white;
  overflow: hidden; }

.img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "K2D";
  font-weight: normal;
  font-style: normal; }

.group_image {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.author {
  font-size: 18px;
  font-family: "San Francisco Text";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 0px; }
  .author p {
    text-align: center;
    margin-bottom: 0; }
    .author p span {
      font-weight: bold; }

#my-tab {
  box-sizing: border-box !important; }

/*# sourceMappingURL=main.css.map */
